### macOS ###
.DS_Store
.AppleDouble
.LSOverride
._*

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

app/src/main/resources/application-local.yml

### VS Code ###
.vscode/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Kotlin ###
.kotlin/

### Terraform ###
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan

### Node (husky) ###
node_modules/

### Environment ###
.env
.env.local
*.log

### OS ###
Thumbs.db
